@charset "utf-8";
/**
 *     
 * @author:   myqianlan
 * @update:   2014年11月18日10:39:25
 * @note: test          
 */
body{
	color: purple;
	background-color: gray;
}
body,input, label, select, option, textarea, button, fieldset, legend {  
	font-family: Arial, sans-serif; 
}
%clearfix{
    /**
    * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    *zoom: 1;

    &:before,
    &:after{
        content: "";
        display: table;
        line-height: 0;
    }
    &:after{
        clear: both;
    }
}
// 清除浮动
.clearfix {
    @extend %clearfix;
}